<h2>Latest posts:</h2>

<br>
  <% @posts.each do |row| %>
  <br>
  <h4><%= row['author'] %> says <%= row['created_date'] %></h4>
<p>
  <%= row['content'] %>
  <br>
  <br>
  <br>
  <a href="/details/<%= row['id']%>">Comments</a>
</p>
<hr>
  <% end %>

